@import "tailwindcss";

@theme {
  --color-primary: rgb(24, 207, 159);
}

html,
body {
  height: 100%;
}

#canvasWrap {
  position: fixed;
  /* width: 100vw;
  height: 100vh;
  top: 0;
  left: 0; */
  inset: 0;
  overflow: hidden;
  z-index: 0;
}

#canvas {
  background-color: black;
  width: 100%;
  height: 100%;
  touch-action: none;
  display: block;
}

#scrollContainer {
  position: relative;
  z-index: 1;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.bg-blur {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(12px);
}

.h2-text {
  font-size: xx-large;
}

.small-text {
  font-size: 12px;
}
